#macro(plainissues $issueInfos)
    #set($counter = 0)
    #foreach($issueInfo in $issueInfos)
        #if($issueInfo.selected)
            #set($counter = $counter + 1)
            #if($counter > 1)
                ,
            #end
            #set($linkHtml = $issueInfo.hyperLink)
            $linkHtml
        #end
    #end
#end

#macro(searchlink $jqlLink)
    #if($jqlLink)
        <a href="$jqlLink">
            <span class="aui-icon aui-icon-small aui-iconfont-search"
                title="$i18n.getText("cwx.issue-picker.search.tooltip")"></span>
        </a>
    #end
#end

#macro(cwxtable $fieldId $displayFieldName $fieldInfos $issueInfos $sums)
    <table id="cwxtable-$fieldId" class="aui cwxtable aui-table-sortable confluenceTable">
        <thead>
            <tr>
                <th class="confluenceTh aui-table-column-issue-key" onclick="return false;">$!displayFieldName</th>
                #foreach($fieldInfo in $fieldInfos)
                    <th class="confluenceTh #if($fieldInfo.rawSort)sorter-textSortAttributeParser#end" onclick="return false;">$fieldInfo.fieldName</th>
                #end
            </tr>
        </thead>
        <tbody>
            #foreach($issueInfo in $issueInfos)
                #if($issueInfo.selected)
                    <tr>
                        #set($linkHtml = $issueInfo.hyperLink)
                        <td class="confluenceTd">$linkHtml</td>
                        #foreach($fieldInfo in $fieldInfos)
                            #set($fieldHtml = $!issueInfo.fieldValues.get($fieldInfo.fieldId).htmlValue)
                            #if($fieldInfo.rawSort) 
                               #set($fieldRaw = $!issueInfo.fieldValues.get($fieldInfo.fieldId).rawValue)
                              <td class="confluenceTd#if($fieldInfo.rightAlign) cwx-right-align#end" data-sort-value="$fieldRaw">
                            #else
                              <td class="confluenceTd#if($fieldInfo.rightAlign) cwx-right-align#end">
                            #end
                              $!fieldHtml
                            </td>
                        #end
                    </tr>
                #end
            #end
        </tbody>
        #if($sums && !$sums.isEmpty())
            <tfoot class="cwx-footer">
                <tr>
                    <td class="confluenceTd"><span class="cwx-sigma">&Sigma;</span></td>
                    #foreach($fieldInfo in $fieldInfos)
                        <td class="confluenceTd#if($fieldInfo.rightAlign) cwx-right-align#end">
                            #if($sums.containsKey($fieldInfo.fieldId))
                                $sums.get($fieldInfo.fieldId)
                            #end
                        </td>
                    #end
                </tr>
            </tfoot>
        #end
    </table>
#end
