#macro(cwxfield $id $value)
    <div class="field-group">
        <label for="$id">$i18n.getText("ics.issue-picker.config.${id}")</label>
        <span id="$id" class="ics-value-label">$!value</span>
    </div>
#end
#if ($config)
    <style>
    span.ics-value-label {
        float: left;
        padding-top: 5px;
    }
    #ics-config-form .field-group {
        padding-left: 180px;
    }
    #ics-config-form .field-group > label {
        margin-left: -220px;
        width: 200px;
    }
    </style>
    <form id="ics-config-form" class="aui">
        <h6>$i18n.getText("ics.issue-picker.config.issue-selection")</h6>
        #cwxfield("jql" $!config.jql)
        #cwxfield("jqlUser" $!config.jqlUser)
        #cwxfield("maxSearchResults" $!config.maxSearchResults)
        #cwxfield("selectionMode" $i18n.getText("ics.issue-picker.config.selectionMode.${config.selectionMode}"))
        #if($config.selectionMode == "SINGLE")
            #cwxfield("presetValue" $!presetValue)
        #end

        <h6>$i18n.getText("ics.issue-picker.config.display-attributes")</h6>
        #cwxfield("displayAttr" $!displayAttribute)
        #if($showIssueKey)
            #cwxfield("showIssueKey" $!showIssueKey)
        #end
        #if($config.selectionMode != "SINGLE")
            #cwxfield("fieldsToDisplay" $!fieldsToCopy)
            #cwxfield("sumUpFields" $!sumUpFields)
            #cwxfield("indexTableFields" $!indexTableFields)
            #cwxfield("expandIssueTable" $!expandIssueTable)
        #end
		 #cwxfield("csvExportUseDisplay" $!csvExportUseDisplay)
		
        <h6>$i18n.getText("ics.issue-picker.config.actions-on-save")</h6>
        #cwxfield("linkMode" $i18n.getText("ics.issue-picker.config.linkMode.${config.linkMode}"))
        #if($config.linkMode != "NONE")
            #cwxfield("linkType" $!linkType)
        #end
        #if($config.selectionMode == "SINGLE")
            #cwxfield("fieldsToCopy" $!fieldsToCopy)
            #cwxfield("copyFieldMapping" $!copyFieldMapping)
        #end

        <h6>$i18n.getText("ics.issue-picker.config.create-new-issue")</h6>
        #cwxfield("createNewValue" $!createNewValue)
        #if($config.createNewValue)
            #cwxfield("currentProject" $!currentProject)
            #if(!$config.currentProject)
                #cwxfield("newIssueProject" $!newIssueProject)
            #end
            #cwxfield("newIssueType" $!newIssueType)
            #cwxfield("fieldsToInit" $!fieldsToInit)
            #cwxfield("initFieldMapping" $!initFieldMapping)
        #end
    </form>
#else
    <p>$i18n.getText("ics.issue-picker.config.unconfigured")</p>
#end
