<html>
    <head>
        #set($title = $i18n.getText("ics.issue-picker.field-pair.title", $fieldMappingName))
        #set($actionTarget = "IssuePickerFieldPair.jspa")
        <title>$title</title>
        <meta charset="utf-8" />
        <meta name="decorator" content="atl.admin" />
        <meta name="admin.active.tab" content="ics-issue-picker-field-mapping"/>
        <meta name="admin.active.section" content="admin_plugins_menu/ics-issue-picker-config-section">
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResourcesForContext("issue-picker-field-mapping")
    </head>
    <body>
        <header class="aui-page-header">
            <div class="aui-page-header-inner">
                <div class="aui-page-header-main">
                    <h1>$title</h1>
                </div>
                <div class="aui-page-header-actions">
                    <div class="aui-buttons">
                        <a class="aui-button aui-button-link" href="${req.contextPath}/secure/admin/IssuePickerFieldMapping.jspa">$i18n.getText("ics.issue-picker.field-pair.back")</a>
                    </div>
                </div>
            </div>
       </header>
        <p>$i18n.getText("ics.issue-picker.field-pair.page.description")</p>
        #if($errorMessages.size() > 0)
            <div class="aui-message error">
            <span class="aui-icon icon-error"></span>
            #foreach ($errorMessage in $errorMessages)
                #set($errorHtml = $errorMessage)
                <p>
                $errorHtml
                </p>
            #end
            </div>
        #end
          <table class="aui">
              <thead>
                    <tr>
                        <th>$i18n.getText("ics.issue-picker.field-pair.from.field")</th>
                        <th>$i18n.getText("ics.issue-picker.field-pair.to.field")</th>
                        <th></th>
                    </tr>
              </thead>
              <tbody>
                 #foreach($fieldPair in $fieldPairList)
                      <tr #if($fieldPairId == $fieldPair.id)class="selected-row"#end>
                          <td>$i18n.getText($fieldPair.fromFieldName)</td>
                          <td>$i18n.getText($fieldPair.toFieldName)</td>
                          <td class="action">
                                <ul class="menu">
                                    <li><a href="?cmd=edit&fieldMappingId=$fieldMappingId&fieldPairId=$fieldPair.id"
                                        >$i18n.getText("ics.issue-picker.edit")</a></li>
                                    <li><a href="?cmd=delete&fieldMappingId=$fieldMappingId&fieldPairId=$fieldPair.id"
                                        >$i18n.getText("ics.issue-picker.delete")</a></li>
                                </ul>
                           </td>
                      </tr>
                 #end
             </tbody>
         </table>

         <form id="edit" action="$actionTarget" method="post" class="aui">
             <div class="field-group">
                <label for="field">$i18n.getText("ics.issue-picker.field-pair.from.field")</label>
                <select id="fromField" name="fromField" class="select">
                    #foreach($field in $listNavigableFields)
                        <option value="$field.id" 
                          #if ($fromField && $fromField.equals($field.id))
                              SELECTED
                          #end
                        >$field.name</option>
                    #end
                </select>
            </div>
             <div class="field-group">
                <label for="field">$i18n.getText("ics.issue-picker.field-pair.to.field")</label>
                <select id="toField" name="toField" class="select">
                    #foreach($field in $listNavigableFields)
                        <option value="$field.id" 
                          #if ($toField && $toField.equals($field.id))
                              SELECTED
                          #end
                        >$field.name</option>
                    #end
                </select>
            </div>
            <input  type="hidden" name="fieldMappingId" value="$!fieldMappingId">
            <input  type="hidden" name="fieldPairId" value="$!fieldPairId">
            <div class="field-group">
                <div class="buttons">
                    <button name="cmd" value="save" class="aui-button aui-button-primary"
                        >#if($!cmd == "edit")$i18n.getText("ics.issue-picker.save")#else $i18n.getText("ics.issue-picker.add")#end</button>
                </div>
            </div>
         </form>
    </body>
</html>
